 <div class="calc__body__main">
    <div class="calc__body__column">
      <img
        [src]="fromImage"
        [alt]="(fromRank && fromRank.name) || 'Unranked'"
        class="calc__body__column__image"
      >
      <app-select
        *ngIf="isSelectVisible; else FromInput"
        [options]="fromRankOptions"
        [selectedOption]="fromRank"
        [placeholder]="'Текущее звание'"
        (optionChangeEvent)="fromRankChangeHandler($event)"
      ></app-select>
     <ng-template #FromInput>
       <input
         class="calc__body__column__input"
         type="number"
         placeholder="Текущий рейтинг"
         [value]="fromRank || ''"
         (input)="setFromValue($event)"
       >
     </ng-template>
    </div>
    <img
      src="./assets/separator.svg"
      alt=">>>"
      class="calc__body__separator"
    />
    <div class="calc__body__column">
      <app-select
        *ngIf="isSelectVisible; else ToInput"
        [options]="toRankOptions"
        [selectedOption]="toRank"
        [placeholder]="'Желаемое звание'"
        (optionChangeEvent)="toRankChangeHandler($event)"
      ></app-select>
      <ng-template #ToInput>
        <input
          class="calc__body__column__input"
          type="number"
          placeholder="Желаемый рейтинг"
          [value]="toRank || ''"
          (input)="setToValue($event)"
        />
      </ng-template>
        <img
          [src]="toImage"
          [alt]="(toRank && toRank.name) || 'Unranked'"
          class="calc__body__column__image"
        />
    </div>
  </div>
  <div class="calc__body__optional">
    <app-optional-service
      *ngFor="let service of optionalServices"
      [service]="service"
      (serviceSelectEvent)="serviceSelectHandler($event)"
    ></app-optional-service>
  </div>
